<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <link href="../assets/css/common/reset.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/downloader.css" rel="stylesheet" type="text/css">
    <title>MixMaster Pro Downloader</title>
</head>
<body>
    <div class="bg"></div>
    <div id="download" class="download">
        <p class="status">Status: <span>iniciando o download</span></p>
        <div class="progress">
            <div></div>
        </div>
    </div>
</body>
</html>